default: &default
  adapter: mysql2
  host: <%= ENV['DB_HOST'] %> 
  port: <%= ENV['DB_PORT'] %>
  username: <%= ENV['DB_USERNAME'] %>
  database: <%= ENV['DB_DB'] %>
  password: <%= ENV['DB_PASSWORD'] %>


development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
